<div class="jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">News Articles</h1>
        <p class="lead">The News Scraper Application scrapes articles from the Hacker News homepage and displays the
            headline, image, and summary on the application's home page.</p>
    </div>

    <body>
        <div id="wrapper">
            <h1>Note Scraper</h1>
            <div id="</div>
            <div id=" articles"></div>
            <div id="notes"></div>
        </div>
        <div>
            <ol>
                {{#each articles}}
                <li data-id={{this._id}}>{{this.title}}</li>

                {{/each}}
            </ol>
        </div>





        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="app.js"></script>